[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Autonomous-Racing-Labs/rplidar_ros.git
	branch = ros2
[submodule "src/transport_drivers"]
	path = src/transport_drivers
	url = https://github.com/ros-drivers/transport_drivers.git
	branch = main
[submodule "src/vesc"]
	path = src/vesc
	url = https://github.com/Autonomous-Racing-Labs/vesc.git
	branch = ros2
[submodule "src/laser_hello_world"]
	path = src/laser_hello_world
	url = https://github.com/Autonomous-Racing-Labs/laser_hello_world.git
	branch = master
[submodule "src/vehicle_control"]
	path=src/vehicle_control
	url = https://github.com/Autonomous-Racing-Labs/vehicle_control.git
	branch = master
[submodule "src/f1tenth_gym_ros"]
	path = src/f1tenth_gym_ros
	url = https://github.com/Autonomous-Racing-Labs/f1tenth_gym_ros.git
	branch = master
[submodule "src/cartographer"]
	path = src/cartographer
	url = git@github.com:wette/f1tenth_cartographer.git
	branch = master
[submodule "src/cartographer_ros"]
	path = src/cartographer_ros
	url = git@github.com:wette/f1tenth_cartographer_ros.git
	branch = master
[submodule "src/raceline"]
	path = src/raceline
	url = git@github.com:wette/f1tenth_raceline.git
	branch = master
[submodule "src/gap_follow"]
	path = src/gap_follow
	url = git@github.com:wette/f1tenth_gap_follow.git
	branch = master

[submodule "src/aesthetic_control"]
	path = src/aesthetic_control
	url = https://github.com/Autonomous-Racing-Labs/aesthetic_control.git
[submodule "src/camera_ros"]
	path = src/camera_ros
	url = https://github.com/Autonomous-Racing-Labs/camera_ros.git
